<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
            <header id="header" class="inner"><div class="alignleft">
                <h1><a href="/">{{ site.name }}</a></h1>
                <h2><a href="/"></a></h2>
            </div>
                <nav id="main-nav" class="alignright">
                    <ul>

                        <li><a href="/">首页</a></li>

                        <li><a href="/archives">所有文章</a></li>

                    </ul>
                    <div class="clearfix"></div>
                </nav>
                <div class="clearfix"></div>
            </header>
            <div id="content" class="inner">
            <div id="main-col" class="alignleft">
            <div id="wrapper">
            <article class="post">



            <div class="post-content">
            <header>
                <div class="icon"></div>
            </header>
            <div class="entry">

                {{ content }}
            </div>
            <footer>



                <!-- <div class="categories">
                   <a href="/categories/每周播报/">每周播报</a>
                 </div>-->



               <!-- <div class="tags">
                    <a href="/tags/F2E Weekly/">{{ site.categories }}</a>
                </div>-->



                <div class="clearfix"></div>
            </footer>
            </div>
            </article>



            <!-- Duoshuo Comment BEGIN -->
            <div class="ds-thread"></div>
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"zj-baozi"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- Duoshuo Comment END -->
            </div></div>
            <aside id="sidebar" class="alignright">
                <div class="search">
                    <form action="//google.com/search" method="get" accept-charset="utf-8">
                        <input type="search" name="q" results="0" placeholder="搜索">
                        <input type="hidden" name="q" value="site:zj-baozi.github.io">
                    </form>
                </div>


                <div class="widget tag">
                    <h3 class="title">分类</h3>
                    <ul class="entry">
                        {% for post in site.posts %}

                        <li><a href="{{ post.url }}">{{ post.categories }}</a></li>
                        {% endfor %}
                        <!--<li><a href="/categories/笔记/">笔记</a><small>1</small></li>

                        <li><a href="/categories/翻译/">翻译</a><small>0</small></li>-->

                    </ul>
                </div>







                <div class="widget tag">
                    <h3 class="title">最新文章</h3>
                    <ul class="entry">
                        {% for post in site.posts %}
                        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}

                    </ul>
                </div>

            </aside>
            <div class="clearfix"></div>
            </div>



          <div class="footer inner" id="footer">
            <div class="contact">
              <p>
                &copy; 2014 zj-baozi<br />
                @阿里巴巴<br />
                295112462@qq.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/zj-baozi">github.com/zj-baozi</a><br />

              </p>
            </div>
          </div>
        </div>

    </body>
</html>
